<div class="modal">
    <div class="modal-content">
        <span class="close" (click)="onCloseModal()">&times;</span>
        <div class="info">
            <p>First name : {{member.firstName}}</p>
            <p>Last name : {{member.lastName}}</p>
        </div>
        <button class="button"
                *ngIf="member.type === 'pending'"
                [style.background-color]="'#3CB371'">Activate</button>
        <button class="button"
                *ngIf="member.type === 'activated'"
                [style.background-color]="'#00FF7F'"
                >Deactivate</button>
        <button class="button"
                [style.background-color]="'#ff1919'">Delete</button>
    </div>
</div>
