@import '../../assets/style/style.scss';

.container {
    padding: 30px;
    text-align: center;
    .header {
        font-size: $large-text;
        color: $dark-green;
        button {
            width: 200px;
            height: 50px;
            border-radius: 5px;
            background-color: $dark-green;
            color: white;
            font-size: $small-text;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
    .members {
        margin-top: 100px;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        align-items: center;
        width: 100%;
        .member {
            padding: 4px;
            flex: 0 1 20%;
            font-size: $small-text;
            font-weight: bold;
            margin: 8px;
            min-width: 140px;
            max-width: 250px;
            cursor: pointer;
        }
    }
    app-type-counter {
        position: absolute;
        left: 30px;
    }
}